/**********************FONTS*********************/
@font-face {
    font-family: 'georgia normal';
    src: url('../../assests/fonts/Georgia/georgia.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'arial normal';
    src: url('../../assests/fonts/Arial/arial.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'arial italic';
    src: url('../../assests/fonts/Arial/ariali.ttf') format('truetype');
    font-style: italic;
}

* {
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'georgia normal';
    font-size: 15px;
}

.bg-gradient {
    background: url('../../assests/images/noise_transparent@2x.svg'),
        radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 75%, #211F20 100%);

}

section:not(#intro) {
    padding: 80px 40px 100px;
}

/**********************btn******************/
.btn {
    display: inline-block;
    padding: 15px 45px;
    background-color: #F1CDB3;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    color: #292929;
    letter-spacing: 0.06em;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.btn-light {
    border: 2px solid #F1CDB3;
    background-color: #FAFAFA;
}

.btn-nav {
    width: 52px;
    height: 52px;
    padding: 14px 0 0;
    margin: 0;
}

.main-content {
    max-width: 1280px;
    padding: 0 40px;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    margin: 0;
}

h1 a {
    margin: 0;
    color: #F1CDB3;
    text-decoration: none;
    font-size: 32px;
    letter-spacing: 0.06em;
}

.logo-subtitle {
    margin: 10px 0;
    font-family: 'arial normal';
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 0.1em;
}

#logo {
    margin: auto;
}

.nav-item {
    text-decoration: none;
    font-family: 'arial normal';
    color: #CDCDCD;
}

.nav-item-active {
    border-bottom: 3px solid #F1CDB3;
    padding-bottom: 7px;
    color: #FAFAFA;
}

.nav-item:hover:not(.nav-item-active) {
    cursor: pointer;
    color: #FAFAFA;
}

#intro {
    width: 460px;
}

.intro-header {
    font-size: 44px;
    color: #FFFFFF;
}

.intro-text {
    font-family: 'arial normal';
    color: #CDCDCD;
    margin: 42px 0px;
}

.start-screen-puppy {
    width: 698px;
    height: 728px;
}

/******************* ABOUT ****************/

.bg-about-help {
    background-color: #FFFFFF;
}

h3 {
    font-size: 35px;
    color: #545454;
    letter-spacing: 0.06em;
    line-height: 45.5px;
}

.about-pets-img {
    max-width: 300px;
}

.about-text {
    font-family: 'arial normal';
    color: #4C4C4C;
    width: 430px;
}

.bg-pets-addition {
    background-color: #F6F6F6;
}

.pet-card {
    width: 270px;
    text-align: center;
}

.pet-card figcaption {
    font-size: 20px;
    color: #545454;
    margin-top: 30px;
}

.pet-card figure {
    width: 100%;
    margin: 0;
}

.btn-learn-more {
    margin: 30px 41.5px;
}

/***************************HELP SECTION**************************/
.pets-help-header {
    text-align: center;
}

.help-item {
    text-align: center;
}

.help-item img {
    width: 60px;
    height: 60px;
}

.help-item h4 {
    color: #545454;
    font-size: 20px;
    line-height: 23px;
    margin: 30px 0 0;
    letter-spacing: 0.06em;
}

/***************************DONATION DOG***************/
.donation-dog {
    max-width: 505px;
    margin: 0 30px 0 0;
}

.donation-text {
    max-width: 380px;
}

.donation-text h3,
h5 {
    margin: 0 0 20px 0;
    padding: 0;
    letter-spacing: 0.06em;
}

.donation-text h4 {
    margin: 0;
    padding: 10px 15px;
    background-color: #F1CDB3;
    border-radius: 9px;
}

.card-number img {
    max-width: 30px;
    margin: 0 15px 0 0;
    vertical-align: middle;
}

.card-number {
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
    padding-left: 45px;
    background: url('../../assests/icons/credit-card.svg') no-repeat left center;
}

.donation-text p {
    margin: 20px 0 0;
    font-family: 'arial italic';
    font-size: 12px;
    color: #B2B2B2;
    line-height: 18px;
}

.donation-text h4:hover {
    cursor: pointer;
    background-color: #FDDCC4;
}

#donation-block {
    display: flex;
}

